html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Let's go Digital Regular";
  src: url("lib/LetsGoDigitalRegular.ttf");
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page_title {
  font-family: "Let's go Digital Regular";
  font-size: 24pt;
  /* Background and font colors copied from Monokai gutter. Seemed right. */
  background-color: rgb(47, 49, 41);
  color: rgb(143, 144, 138);
}
.editors {
  display: flex;
  align-items: stretch;
  visibility: hidden; /*Hide while loading.*/
  height: 100%;
  width: 100%;
}
.asm_editor {
  /*width: 40em;*/
  flex-grow: 1;
}
.hack_editor {
  width: 15em;
}
/* Hacks to make the vertical scrollbar go away */
.hack_editor .ace_scrollbar-v {
  width: 0px;
  display: none;
}
.hack_editor .ace_scroller {
  right: 0px !important;
}
.symboltable {
  /* Background and font colors copied from Monokai gutter. Seemed right. */
  background-color: rgb(47, 49, 41);
  color: rgb(143, 144, 138);
  border-collapse: collapse;
}
.symboltable table {
  width: 200px;
  margin-left: 0px;
}
.symboltable td {
  width: 50%;
}
.symboltable th {
  color: white;
  background-color: rgb(39, 39, 39);
  /*border-left-color: rgb(39, 39, 39);
  border-right-color: rgb(39, 39, 39);*/
}
